*{
    margin: 0;
    padding-inline-start: 0;
    box-sizing: border-box;
    background: #200122;
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  
}
.loader{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: white;
    animation:main .8s ease infinite;
}
.loaderf{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    
    
}
.one{
    margin-right: 20px;
    animation-delay: 0.3s;
}
.two{
    margin-right: 20px;
    animation-delay: 0.4s;
}
.three{
    margin-right: 20px;
    animation-delay: 0.5s;
}
.four{
    margin-right: 20px;
    animation-delay: 0.6s;
}

@keyframes main {
    0%{
        height: 30px;
        width: 30px;
    }
    50%{
        height: 20px;
        width: 20px;
    }
}
